.header {
  padding: 18px 0;
  border-bottom: 1px solid transparent;

  .container {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  @include min(375) {
    flex: none;
    margin-right: 16px;
  }
  @include min(769) {
    margin-right: 64px;
  }
}

.header__icons {
  display: none;

  @include min(769) {
    display: flex;
  }
}

.header__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 38px;
  height: 38px;
  margin-right: 16px;
  border: 2px solid rgba(255, 255, 255, .25);
  border-radius: 50%;

  svg {
    fill: #fff;
    width: 14px;
    height: 14px;
  }
}

.header__right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__right-item {
  display: flex;
  align-items: center;
  min-height: 30px;
  padding-right: 0;
  padding-left: 13px;

  @include min(375) {
    padding-right: 13px;
  }
  @include min(600) {
    padding-right: 56px;
    padding-left: 56px;
    border-left: 1px solid rgba(255, 255, 255, .25);
  }

  &:first-child {
    border-left: none;
  }

  &:last-child {
    padding-right: 0;
  }
}

.header__right-item--desktop {
  display: none;

  @include min(1200) {
    display: flex;
  }
}

.header__right-item-link {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.2;
  position: relative;
  display: flex;
  margin-left: 52px;
  white-space: nowrap;
  color: #fff;

  &:first-child {
    margin-left: 0;
  }

  &::before {
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    content: '';
    transition: $transition;
    background-color: #fff;
  }

  &:hover {
    &::before {
      transform: scale(0);
    }
  }
}

.header__right-item-link-quote {
  font-weight: 300;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
}

.header__right-item-link-quote-text {
  font-size: 14px;
  line-height: 2;

  @include min(375) {
    font-size: 17px;
  }

  span {
    display: none;

    @include min(600) {
      display: inline;
    }
  }
}

.header__right-item-link-quote-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: $blue-1;

  svg {
    fill: #fff;
    width: 8px;
    height: 8px;
  }
}
