.how-it-works {
  position: relative;
  padding-bottom: 70px;

  @include min(769) {
    padding-bottom: 120px;
  }
}

.how-it-works__header {
  padding-top: 70px;
  padding-bottom: 60px;

  @include min(769) {
    padding-top: 95px;
    padding-bottom: 80px;
    text-align: center;
  }
}

.how-it-works__title {
  font-family: $font-light;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 10px;
  color: #3f3d56;

  @include responsive-font(48, 38);
}

.how-it-works__subtitle {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #232230;
}

.how-it-works__swipe {
  position: absolute;
  z-index: 1;
  right: 20px;
  bottom: 52px;
  display: flex;
  align-items: center;
  pointer-events: none;

  @include min(769) {
    display: none;
  }

  span {
    font-family: $font;
    font-size: 14px;
    font-weight: 300;
    line-height: 32px;
    color: #3f3d56;
  }

  svg {
    flex: none;
    fill: #c5cfe0;
    width: 32px;
    height: 32px;
    margin-left: 6px;
  }
}
