.shop-find {
  padding-top: 130px;
  padding-bottom: 60px;
  background-color: #fff;

  @include min(769) {
    padding-top: 145px;
    padding-bottom: 100px;
  }
}

.shop-find__title {
  font-family: $font-bold;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 24px;
  color: #3f3d56;

  @include min(769) {
    margin-bottom: 34px;
  }
}

.shop-find__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include min(600) {
    width: calc(100% + 30px);
  }

  .doc-slider__slide {
    width: 100%;
    margin-bottom: 20px;

    @include min(600) {
      width: calc(50% - 30px);
      margin-right: 30px;
      margin-bottom: 30px;
    }
    @include min(1025) {
      width: calc(33.33% - 30px);
    }
    @include min(1400) {
      width: calc(25% - 30px);
    }
  }
}

.shop-find__banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 320px;
  margin-bottom: 20px;
  padding: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include min(600) {
    width: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  @include min(1025) {
    width: calc(33.33% - 30px);
  }
  @include min(1400) {
    width: calc(25% - 30px);
  }
}

.shop-find__banner-title {
  font-family: $font;
  font-weight: 400;
  line-height: 1.2;
  margin-top: auto;
  margin-bottom: 0;
  color: #fff;

  @include responsive-font(28, 24);
}

/* begin FOOTER */
.shop-find__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  text-align: center;

  @include min(600) {
    padding-top: 70px;
  }
}

.shop-find__footer-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.shop-find__footer-btn-arr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  border: 1px solid #c5cfe0;
  border-radius: 50%;

  svg {
    fill: $blue-1;
    width: 8px;
    height: 8px;
  }
}

.shop-find__footer-btn-text {
  font-family: $font;
  font-weight: 300;
  line-height: 1.2;
  display: block;
  padding-bottom: 12px;
  text-align: center;
  color: #232230;
  border-bottom: 1px solid #295aa8;

  @include responsive-font(17, 15);
}

/* end   FOOTER */
