.tags {
  background-color: #f4f7fb;
  background-image: url('../img/bg-tags.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 400px 400px;

  .container {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 55px;

    @include min(769) {
      padding-top: 80px;
      padding-bottom: 70px;
      flex-direction: row;
    }
  }
}

.tags__left {
  width: 100%;

  @include min(769) {
    width: 50%;
    padding-right: 30px;
  }
}

.tags__title {
  font-family: $font-light;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 50px;
  color: #3f3d56;

  @include responsive-font(48, 38);
}

.tags__right {
  width: 100%;

  @include min(769) {
    width: 50%;
  }
}

.tags__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tags__item {
  padding: 12px 0;
  border-bottom: 1px solid rgba(197, 207, 224, .5);

  &:first-child {
    border-top: 1px solid rgba(197, 207, 224, .5);
  }
}

.tags__link {
  display: flex;
  align-items: center;

  span {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-right: 15px;
    color: #3f3d56;
  }

  svg {
    flex: none;
    fill: #c5cfe0;
    width: 20px;
    height: 20px;
    margin-left: auto;
  }
}
