//BEGIN consult
.consult
  .container
    .consult__left
      h2.consult__title Don’t find needed document? <br>Get free online consultation
      .consult__links
        a(href="tel:015546220").consult__link
          .consult__link-icon
            +svg('phone')
          .consult__link-text (01) 5546220
        a(href="mailto:info@certifiedtranslations.ie").consult__link
          .consult__link-icon
            +svg('email-2')
          .consult__link-text info@certifiedtranslations.ie
        a(href="skype:merc03g2?call").consult__link
          .consult__link-icon
            +svg('skype')
          .consult__link-text merc03g2

      .consult__text
        span Docsbase is a specialized translation company focused on certified document translations, as well as notary and legalisation services.
        span Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    .consult__right
      .consult-img
        img(src="assets/img/girl.png" alt="girl")
//END   consult