//BEGIN diagram-wrap
.diagram-wrap
  .container
    .diagram
      +diagram__item('1', 'diagram-01', 'New Order')
      +diagram__item('2', 'diagram-02', 'Discussion of Rates')
      +diagram__item('3', 'diagram-03', 'Receipt of Documents')
      +diagram__item('4', 'diagram-04', 'Project Scheduling')
      +diagram__item('5', 'diagram-05', 'Translation and Proofreading')
      +diagram__item('6', 'diagram-06', 'Formatting and Editing')
      +diagram__item('7', 'diagram-07', 'Certification')
      +diagram__item('8', 'diagram-08', 'Delivery')
//END   diagram-wrap