//BEGIN docexpress
.docexpress
  .docexpress__header
    .container
      h2.docexpress__title DocExpress Service – quick translation of standard documents
      .docexpress__subtitle Choose from over 40 standard documents in our online service and receive an official translation in no more than 2-3 hours

  .docexpress__body
    .container
      include ../sliders/doc-slider

  .docexpress__footer
    .container
      button.btn-arr
        .btn-arr__text Go to Online Shop
        .btn-arr__icon
          +svg('arr-right-top')

//END   docexpress