//BEGIN docexpress
.docexpress
  .docexpress__header
    .container
      h2.docexpress__title Other Birth Certificates

  .docexpress__body
    .container
      include ../sliders/doc-slider

  .docexpress__footer
    .container
      button.btn-arr
        .btn-arr__text Go to full catalogue
        .btn-arr__icon
          +svg('arr-right-top')

//END   docexpress