//BEGIN find-section
.find-section
  .container
    //BEGIN find
    .find
      .find__header
        h2.find__title Find our office
        .find__subtitle Find your local Management and Operations Team in Ireland, Europe or North America.
      .find__footer
        .find__footer-text Our international contact center work online 24 / 7. Get free online consultation now
        button.find__footer-link.btn-arr
          .btn-arr__text Contact Us
          .btn-arr__icon
            +svg('arr-right-top')
    //END   find
      
    //BEGIN guaranty
    .guaranty
      .guaranty__header
        h2.guaranty__title Digital translations from Docsbase – 100% legalized
        .guaranty__awards
          img(src="assets/img/guaranty.png" alt="guaranty")
      .guaranty__body
        p We specialise in providing certified translations of official documents, and we offer an unbeatable quality of service. Over 90% of our projects are completed ahead of schedule, by qualified experts with the skills to translate your documents to the highest standard, and the know-how to ensure that they will meet any and all standards and requirements.
        .guaranty__blockquote Between our offices in Ireland and abroad, we can provide 24/7 service, whether it’s translation, certification, legalisation or visa support.
      .guaranty__footer
        button.guaranty__footer-link.btn-arr
          .btn-arr__text Look how it work
          .btn-arr__icon
            +svg('arr-right-top')
    //END   guaranty

    //BEGIN languages
    .languages
      .languages__header
        h2.languages__title
          span 120+
          span languages <br> we work with
        .languages__subtitle Languages are our passion. We work with the best professionals from all corners of the globe.

      .languages__footer
        button.languages__footer-link.btn-arr
          .btn-arr__text Explore all languages
          .btn-arr__icon
            +svg('arr-right-top')
    //END   languages
//END   find-section