// begin footer
footer.footer
  .container
    // begin footer__left
    .footer__left
      .footer__select
        select
          option Ireland
          option England
          option France

      // begin footer__contacts
      .footer__contacts
        a(href="https://goo.gl/maps/ZUJnEGuUywUjrXYAA" target="_blank" rel="nofollow noopener noreferrer").footer__contacts-link 16 Inns Court, Winetavern Street, Dublin 8, D08DV20
        a(href="tel:015546220").footer__contacts-link (01) 5546220
        a(href="mailto:info@certifiedtranslations.ie").footer__contacts-link info@certifiedtranslations.ie
      // end   footer__contacts
    // end   footer__left

    // begin footer__right
    .footer__right
      .footer__right-chat
        a(href="#") Let’s Chat,
        span We respond fast!
      .footer__right-text We are online and ready to answer any of your questions. <br> We will answer within 5 minutes
    // end   footer__right

    // begin footer__bottom
    .footer__bottom
      .footer__bottom-item.footer__bottom-item-1
        a(href='#') Privacy Policy
        a(href='#') Terms of Use
      .footer__bottom-item.footer__bottom-item-2
        span © All Rights Reserved to Dockbase 2022
      .footer__bottom-item.footer__bottom-item-3
        span Design by <a href='#' target="_blank" rel="nofollow noopener noreferrer">Mate</a>
    // end   footer__bottom
// end   footer