//BEGIN how-it-works
.how-it-works
  .container
    .how-it-works__header
      h2.how-it-works__title How it works
      .how-it-works__subtitle Everything is simple and clear
    include ../sliders/how-it-works-slider
  .how-it-works__swipe
    span Swipe
    +svg('swipe')
//END   how-it-works