//BEGIN how-it-work
.how-it-work
  .container
    .how-it-work__item
      h2.how-it-work__title How it work
      .how-it-work__text Watch a short video. It provides more details about the service. You will also learn step by step how we do the translation of standard template documents.
      .how-it-work__list
        .how-it-work__list-item.how-it-work__list-item--true <strong>These prices apply only to template documents,</strong> and there can be no urgency
        .how-it-work__list-item.how-it-work__list-item--false <strong>The price does not include additional services</strong> such as a notary, apostille, etc. But, you can add this options for extra pay.
    .how-it-work__item
      a(href="https://player.vimeo.com/video/76979871?background=1&autoplay=1&loop=1&byline=0&title=0\" frameborder=\"0\" webkitallowfullscreen mozallowfullscreen allowfullscreen" data-fancybox='gallery').how-it-work__video
        img(src="assets/img/how-it-works.jpg" alt="img")
        .how-it-work__video-btn
          +svg('play')
//END   how-it-work