//BEGIN lets-translate
.lets-translate
  .container
    .lets-translate__header
      h2.lets-translate__title #{letsTranslate}
    //BEGIN lets-translate__item
    .lets-translate__item
      .lets-translate__item-icon-wrap
        .lets-translate__item-icon
          +svg('people')
      .lets-translate__item-text Just a few steps: send a photo of the document, confirm and pay. <br>Receive an official translation in no more than 24 hours
      button.btn-arr
        .btn-arr__text Private Clients
        .btn-arr__icon
          +svg('arr-right-top')
    //END   lets-translate__item

    //BEGIN lets-translate__item
    .lets-translate__item
      .lets-translate__item-icon-wrap
        .lets-translate__item-icon
          +svg('bag')
      .lets-translate__item-text Special conditions for business. Submit a request and we will contact you to offer favorable terms of cooperation
      button.btn-arr
        .btn-arr__text Business Clients
        .btn-arr__icon
          +svg('arr-right-top')
    //END   lets-translate__item
//END   lets-translate