//BEGIN lets-translate
.lets-translate
  .container
    .lets-translate__header
      h2.lets-translate__title Let's translate it now
    //BEGIN lets-translate__item
    .lets-translate__item
      .lets-translate__item-icon-wrap
        .lets-translate__item-icon
          +svg('people')
      .lets-translate__item-text Just a few steps: send a photo of the document, confirm and pay. <br>Receive an official translation in no more than 24 hours
      .lets-translate__item-btn
        .lets-translate__item-btn-text Private Clients
        .lets-translate__item-btn-icon
          +svg('arr-right-top')

    //END   lets-translate__item

    //BEGIN lets-translate__item
    .lets-translate__item
      .lets-translate__item-icon-wrap
        .lets-translate__item-icon
          +svg('bag')
      .lets-translate__item-text Special conditions for business. Submit a request and we will contact you to offer favorable terms of cooperation
      .lets-translate__item-btn
        .lets-translate__item-btn-text Business Clients
        .lets-translate__item-btn-icon
          +svg('arr-right-top')
    //END   lets-translate__item
//END   lets-translate