//BEGIN our-resources
.our-resources
  .container
    h2.our-resources__title Our Resources
    .our-resources__body
      .our-resources__left
        .our-resources__item
          .our-resources__item-title
            span Translators department
          .our-resources__item-pic
            img(src="assets/img/our-resources-01.jpg" alt="pic")
        .our-resources__item
          .our-resources__item-title
            span DTP & IT
          .our-resources__item-pic
            img(src="assets/img/our-resources-02.jpg" alt="pic")

      .our-resources__right
        h3.our-resources__right-title
          span We have full-time teams, who carry out operational quality control of translations and a high level of customer support
        .our-resources__list
          .our-resources__list-item
            .our-resources__list-item-icon
              +svg('arr-right-lg')
            .our-resources__list-item-text Professional translators department who work on production.
          .our-resources__list-item
            .our-resources__list-item-icon
              +svg('arr-right-lg')
            .our-resources__list-item-text DTP department and an IT office that work on the technical aspects of translation
//END   our-resources