//BEGIN rates
.rates
  .container
    h2.rates__title Our rates
    .rates__descr
      p Please see below some general guidelines regarding our rates.
      p Please keep in mind that every project is different is subject to many factors which may affect cost and completion time.
      p Contact one of our advisors in Dublin or in Cork for the most accurate quote.

    .rates__list
      //BEGIN rates-item
      .rates__list-item.rates-item
        .rates-item__inn
          .rates-item__title Standart Package
          .rates-item__price
            span 0.06
            span € / word
          ul.rates-item__list.checkbox-list
            li.rates-item__list-item Translation by a Native Speaker into their mother tongue
            li.rates-item__list-item In-House Proofreading/Editing
            li.rates-item__list-item Simple DTP (Desk Top Publishing) Formatting
            li.rates-item__list-item General non-technical content
            li.rates-item__list-item Turnaround: 2,000 words per day
            li.rates-item__list-item Free Certification
            li.rates-item__list-item Free Postage Nationwide
            li.rates-item__list-item Minimum order: 1,000 word
          button.rates-item__btn.btn Get started
      //END   rates-item

      //BEGIN rates-item
      .rates__list-item.rates-item.active
        .rates-item__inn
          .rates-item__title Premium Package
          .rates-item__price
            span 0.15
            span € / word
          ul.rates-item__list.checkbox-list
            li.rates-item__list-item Translation by a Native Speaker into their mother tongue
            li.rates-item__list-item In-House Proofreading/Editing
            li.rates-item__list-item Simple DTP (Desk Top Publishing) Formatting
            li.rates-item__list-item Proofread by an industry specialist
            li.rates-item__list-item Technical / Specialised content
            li.rates-item__list-item Turnaround: 2,000 words per day
            li.rates-item__list-item Project Management
            li.rates-item__list-item Free Certification
            li.rates-item__list-item Courier Delivery
            li.rates-item__list-item After Sale Support
            li.rates-item__list-item Minimum order: 3,000 word
          button.rates-item__btn.btn Get started
      //END   rates-item

      //BEGIN rates-item
      .rates__list-item.rates-item
        .rates-item__inn
          .rates-item__title Business Package
          .rates-item__price
            span 0.10
            span € / word
          ul.rates-item__list.checkbox-list
            li.rates-item__list-item Translation by a Native Speaker into their mother tongue
            li.rates-item__list-item In-House Proofreading/Editing
            li.rates-item__list-item Simple DTP (Desk Top Publishing) Formatting
            li.rates-item__list-item Higher complexity/Specialised content
            li.rates-item__list-item Turnaround: 2,000 - 3000 words per day
            li.rates-item__list-item Project Management
            li.rates-item__list-item Free Certification
            li.rates-item__list-item Special Delivery Nationwide
            li.rates-item__list-item Minimum order: 1,000 word
          button.rates-item__btn.btn Get started
      //END   rates-item
//END   rates