//begin breadcrumbs
.breadcrumbs
  .container
    ul.breadcrumbs__list
      li.breadcrumbs__item
        a.breadcrumbs__link(href="/") Home
      li.breadcrumbs__item
        a.breadcrumbs__link(href="/") News
      li.breadcrumbs__item
        a.breadcrumbs__link(href="#") #{breadcrumbs}
//end breadcrumbs