svg(width='280' height='546' viewBox='0 0 280 546' fill='none' xmlns='http://www.w3.org/2000/svg')
  style.
    #scan-slide-1 {
      animation: scanSlide1 10s linear infinite;
    }

    @keyframes scanSlide1 {
      0% {
        transform: translateY(-200px);
      }
      50% {
        transform: translateY(150px);
      }
      100% {
        transform: translateY(-200px);
      }
    }
  g(filter='url(#filter0_d_181_428)')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M49.1646 10C33.0574 10 20 23.0574 20 39.1645V486.354C20 502.462 33.0574 515.519 49.1646 515.519H230.835C246.943 515.519 260 502.462 260 486.354V39.1646C260 23.0574 246.943 10 230.835 10H49.1646Z' fill='#F4F7FB')
  path(fill-rule='evenodd' clip-rule='evenodd' d='M49.1646 10C33.0574 10 20 23.0574 20 39.1645V486.354C20 502.462 33.0574 515.519 49.1646 515.519H230.835C246.943 515.519 260 502.462 260 486.354V39.1646C260 23.0574 246.943 10 230.835 10H49.1646ZM50.3798 16.0758C36.9571 16.0758 26.076 26.957 26.076 40.3796V485.139C26.076 498.562 36.9571 509.443 50.3798 509.443H229.62C243.043 509.443 253.924 498.562 253.924 485.139V40.3796C253.924 26.957 243.043 16.0758 229.62 16.0758H203.494C201.145 16.0758 199.241 17.98 199.241 20.329V22.1518C199.241 28.8631 193.8 34.3037 187.089 34.3037H99.5949C92.8836 34.3037 87.443 28.8631 87.443 22.1518V20.329C87.443 17.98 85.5388 16.0758 83.1899 16.0758H50.3798Z' fill='url(#paint0_linear_181_428)')
  circle(cx='139.63' cy='466.175' r='15.8627' fill='#3F3D56')
  circle(cx='139.63' cy='466.175' r='19.0282' stroke='#3F3D56' stroke-width='3')
  g(clip-path='url(#clip0_181_428)')
    path(fill-rule='evenodd' clip-rule='evenodd' d='M232.72 41.3002C233.188 41.5142 234.365 42.2193 234.515 42.3136C234.696 42.4274 234.806 42.6264 234.806 42.8404V44.1223C234.806 44.3363 234.696 44.5354 234.515 44.6491C234.317 44.7737 233.167 45.4577 232.72 45.6625L232.14 47.0619C232.32 47.545 232.654 48.877 232.693 49.0477C232.741 49.2563 232.678 49.4748 232.526 49.6261L231.62 50.5326C231.469 50.6839 231.25 50.7469 231.042 50.6991C230.816 50.6477 229.518 50.3186 229.056 50.1464L227.656 50.7261C227.442 51.1939 226.737 52.3708 226.643 52.521C226.529 52.7023 226.33 52.8123 226.116 52.8123H224.834C224.62 52.8123 224.421 52.7023 224.307 52.521C224.183 52.3228 223.499 51.1737 223.294 50.7261L221.895 50.1464C221.411 50.3263 220.079 50.6601 219.909 50.6991C219.7 50.7468 219.482 50.6839 219.33 50.5326L218.424 49.6261C218.273 49.4748 218.21 49.2563 218.257 49.0477C218.309 48.8227 218.638 47.5246 218.81 47.0619L218.23 45.6625C217.763 45.4485 216.586 44.7434 216.435 44.6491C216.254 44.5354 216.144 44.3363 216.144 44.1223V42.8404C216.144 42.6264 216.254 42.4274 216.435 42.3136C216.634 42.1891 217.783 41.505 218.23 41.3002L218.81 39.9009C218.63 39.4177 218.296 38.0857 218.257 37.915C218.21 37.7064 218.273 37.4879 218.424 37.3366L219.33 36.4302C219.482 36.2789 219.7 36.216 219.909 36.2636C220.134 36.3151 221.432 36.6441 221.895 36.8163L223.294 36.2367C223.508 35.7689 224.213 34.5919 224.307 34.4417C224.421 34.2604 224.62 34.1504 224.834 34.1504H226.116C226.33 34.1504 226.529 34.2604 226.643 34.4417C226.767 34.6399 227.452 35.7891 227.656 36.2367L229.056 36.8163C229.539 36.6365 230.871 36.3026 231.042 36.2636C231.25 36.2159 231.469 36.2788 231.62 36.4302L232.526 37.3366C232.678 37.4879 232.741 37.7064 232.693 37.915C232.641 38.14 232.312 39.4381 232.14 39.9008L232.72 41.3002ZM225.475 48.9235C228.481 48.9235 230.918 46.4866 230.918 43.4804C230.918 40.4743 228.481 38.0373 225.475 38.0373C222.469 38.0373 220.032 40.4743 220.032 43.4804C220.032 46.4866 222.469 48.9235 225.475 48.9235Z' fill='#232230')
  g(clip-path='url(#clip1_181_428)')
    path(d='M54.4957 41.6145L60.0777 36.0323C60.2313 35.8786 60.316 35.6736 60.3162 35.455C60.3162 35.2362 60.2315 35.031 60.0777 34.8776L59.5886 34.3885C59.4348 34.2345 59.2298 34.1501 59.0109 34.1501C58.7924 34.1501 58.5874 34.2345 58.4336 34.3885L52.8517 39.9704L47.2694 34.3885C47.1159 34.2345 46.9108 34.1501 46.692 34.1501C46.4735 34.1501 46.2684 34.2345 46.1149 34.3885L45.6255 34.8776C45.307 35.1961 45.307 35.7141 45.6255 36.0323L51.2076 41.6145L45.6255 47.1965C45.4718 47.3504 45.3872 47.5554 45.3872 47.774C45.3872 47.9926 45.4718 48.1976 45.6255 48.3514L46.1147 48.8404C46.2683 48.9943 46.4735 49.0788 46.6919 49.0788C46.9106 49.0788 47.1158 48.9943 47.2693 48.8404L52.8515 43.2584L58.4335 48.8404C58.5873 48.9943 58.7923 49.0788 59.0108 49.0788H59.011C59.2296 49.0788 59.4346 48.9943 59.5884 48.8404L60.0776 48.3514C60.2311 48.1977 60.3159 47.9926 60.3159 47.774C60.3159 47.5554 60.2311 47.3504 60.0776 47.1966L54.4957 41.6145Z' fill='#232230')
  path(fill-rule='evenodd' clip-rule='evenodd' d='M232 145C232 140.029 227.971 136 223 136H206V138L223 138C226.866 138 230 141.134 230 145V162H232V145ZM58 136C53.0294 136 49 140.03 49 145V162H51V145C51 141.134 54.134 138 58 138H75V136H58ZM223 382C227.971 382 232 377.971 232 373V356H230V373C230 376.866 226.866 380 223 380H206V382H223ZM58 382C53.0294 382 49 377.971 49 373V356H51L51 373C51 376.866 54.134 380 58 380H75V382H58Z' fill='#C5CFE0')
  path(d='M87.2917 166.415C80.7326 166.415 75.4147 171.732 75.4147 178.292V344.569C75.4147 351.128 80.7326 356.446 87.2917 356.446H200.123C206.682 356.446 212 351.128 212 344.569V213.923L164.492 166.415H87.2917Z' fill='#174184')
  mask#mask0_181_428(style='mask-type:alpha' maskUnits='userSpaceOnUse' x='72' y='163' width='137' height='191')
    path(d='M83.877 163C77.3179 163 72 168.318 72 174.877V341.155C72 347.714 77.3179 353.032 83.877 353.032H196.708C203.267 353.032 208.585 347.714 208.585 341.155V210.508L161.077 163H83.877Z' fill='#295AA8')
  g(mask='url(#mask0_181_428)')
    path(d='M83.877 163C77.3179 163 72 168.318 72 174.877V341.155C72 347.714 77.3179 353.032 83.877 353.032H196.708C203.267 353.032 208.585 347.714 208.585 341.155V210.508L161.077 163H83.877Z' fill='#295AA8')
    rect(x='71.5021' y='163' width='136.585' height='190.081' rx='8' fill='url(#paint1_linear_181_428)')
    path(d='M172.955 210.508H208.585L161.078 163V198.631C161.078 205.19 166.395 210.508 172.955 210.508Z' fill='#4F7CC2')
    path(d='M116.539 222.385H164.047C165.686 222.385 167.016 223.715 167.016 225.354C167.016 226.993 165.686 228.323 164.047 228.323H116.539C114.9 228.323 113.569 226.993 113.569 225.354C113.569 223.715 114.9 222.385 116.539 222.385Z' fill='#C5CFE0')
    path(d='M98.7233 284.739H181.862C183.501 284.739 184.831 286.069 184.831 287.708C184.831 289.347 183.501 290.678 181.862 290.678H98.7233C97.0843 290.678 95.754 289.347 95.754 287.708C95.754 286.069 97.0843 284.739 98.7233 284.739Z' fill='#C5CFE0')
    path(d='M98.7233 320.37H146.231C147.87 320.37 149.2 321.7 149.2 323.339C149.2 324.978 147.87 326.308 146.231 326.308H98.7233C97.0843 326.308 95.754 324.978 95.754 323.339C95.754 321.7 97.0843 320.37 98.7233 320.37Z' fill='#C5CFE0')
    path(d='M98.7233 302.555H181.862C183.501 302.555 184.831 303.885 184.831 305.524C184.831 307.163 183.501 308.493 181.862 308.493H98.7233C97.0843 308.493 95.754 307.163 95.754 305.524C95.754 303.885 97.0843 302.555 98.7233 302.555Z' fill='#C5CFE0')
    path(d='M98.7233 266.924H181.862C183.501 266.924 184.831 268.254 184.831 269.893C184.831 271.532 183.501 272.862 181.862 272.862H98.7233C97.0843 272.862 95.754 271.532 95.754 269.893C95.754 268.254 97.0843 266.924 98.7233 266.924Z' fill='#C5CFE0')
    path(d='M98.7233 249.108H181.862C183.501 249.108 184.831 250.438 184.831 252.077C184.831 253.716 183.501 255.047 181.862 255.047H98.7233C97.0843 255.047 95.754 253.716 95.754 252.077C95.754 250.438 97.0843 249.108 98.7233 249.108Z' fill='#C5CFE0')
    path(opacity='0.25' d='M172.954 210.508L200.895 238.448C202.017 239.565 202.647 241.082 202.647 242.665V341.155C202.647 344.436 199.989 347.093 196.708 347.093H89.8154C86.5344 347.093 83.877 349.751 83.877 353.032H196.708C203.267 353.032 208.585 347.714 208.585 341.155V210.508H172.954Z' fill='#174184')
  g#scan-slide-1
    rect(x='26' y='269' width='228' height='1' rx='0.5' fill='#295AA8')
    rect(opacity='0.25' x='26' y='230' width='228' height='40' fill='url(#paint2_linear_181_428)')
  defs
    filter#filter0_d_181_428(x='0' y='0' width='280' height='545.519' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB')
      feflood(flood-opacity='0' result='BackgroundImageFix')
      fecolormatrix(in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha')
      feoffset(dy='10')
      fegaussianblur(stdDeviation='10')
      fecomposite(in2='hardAlpha' operator='out')
      fecolormatrix(type='matrix' values='0 0 0 0 0.0901961 0 0 0 0 0.254902 0 0 0 0 0.517647 0 0 0 0.25 0')
      feblend(mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_181_428')
      feblend(mode='normal' in='SourceGraphic' in2='effect1_dropShadow_181_428' result='shape')
    lineargradient#paint0_linear_181_428(x1='140' y1='16.0759' x2='140' y2='509.443' gradientUnits='userSpaceOnUse')
      stop(stop-color='#232230')
      stop(offset='1' stop-color='#3F3D56')
    lineargradient#paint1_linear_181_428(x1='71.5021' y1='353.082' x2='183.772' y2='149.585' gradientUnits='userSpaceOnUse')
      stop(stop-color='white' stop-opacity='0.33')
      stop(offset='0.390033' stop-color='white' stop-opacity='0.2')
      stop(offset='1' stop-color='white' stop-opacity='0')
    lineargradient#paint2_linear_181_428(x1='140' y1='230' x2='140' y2='270' gradientUnits='userSpaceOnUse')
      stop(stop-color='#4CEAA7' stop-opacity='0')
      stop(offset='1' stop-color='#4CEAA7')
    clippath#clip0_181_428
      rect(width='18.662' height='18.662' fill='white' transform='translate(216.144 34.1494)')
    clippath#clip1_181_428
      rect(width='14.9296' height='14.9296' fill='white' transform='translate(45.3866 34.1494)')
