*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-weight: 300 !important;
  line-height: 1.1;
  color: $black;

  @include responsive-font(18, 12);
  @include min(769) {
    line-height: 1.2;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1-italic {
  margin: 0 0 10px 0;
}

.h1-italic {
  line-height: 1.1;

  @include responsive-font(50, 36);
}

h1,
h2 {
  line-height: 1.1;

  @include responsive-font(44, 32);
}

h3 {
  line-height: 1.2;

  @include responsive-font(24, 22);
}

h4 {
  line-height: 1.2;

  @include responsive-font(20, 18);
}

h5,
h6 {
  @include responsive-font(18, 16);
}

p {
  margin: 0 0 10px 0;

  strong {
    font-family: $font-bold;
  }
}

a {
  transition: color $transition;
  text-decoration: none;
}

ol,
ul {
  li {
    padding: 0;
  }
}

ul {
  li {
    // путь к кастомной картинке пункта ul
    // list-style-image: url('../img/ul.png');
  }
}

//кастомные пункты списка с цифрами
ol {
  // list-style: none;
  // @include counter(li);
  li::before {
    // color: $brand;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  padding: 3px 10px 5px 10px;
  color: $black;
  border: 1px solid $black;

  @include placeholder-color($black);
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  -webkit-overflow-scrolling: touch;

  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;

  @include min(600) {
    padding: 0 20px;
  }
  @include min(769) {
    padding: 0 30px;
  }
  @include min(1025) {
    padding: 0 60px;
  }
}

.light-page {
  .header {
    border-bottom: 1px solid $blue-light-2;
  }

  .header__icon {
    border: 2px solid rgba(63, 61, 86, .25);

    svg {
      fill: #3f3d56;
    }
  }

  .logo__svg {
    fill: $dark-blue;
  }

  .header__right-item {
    @include min(600) {
      border-left: 1px solid #c5cfe0;
    }
  }

  .header__right-item-link {
    color: $dark-blue;

    &::before {
      background-color: $dark-blue;
    }
  }

  .header__right-item-link-quote {
    color: $dark-blue;
  }
}

//
//.btn {
//  font-family: $font, sans-serif;
//  font-size: 18px;
//  line-height: 1;
//  display: inline-flex;
//  justify-content: center;
//  align-items: center;
//  height: 46px;
//  padding: 16px 24px;
//  cursor: pointer;
//  user-select: none;
//  white-space: nowrap;
//  text-decoration: none;
//  color: $black;
//  border-width: 2px;
//  border-style: solid;
//  border-color: $black;
//  border-radius: 25px !important;
//  box-shadow: none;
//}

.swiper {
  width: 600px;
  height: 300px;
}