// ===== main colors =====
$dark-blue: #3f3d56;
$blue-1: #295aa8;
$blue-2: #174184;
$blue-light: #f3f4f6;
$blue-light-2: #f4f7fb;
$black: #232230;
$gradient: linear-gradient(101.49deg, #174184 1.75%, #295aa8 100%);

// ===== transition =====
$transition: .3s ease-in-out;

// ===== fonts =====
$font: 'Inter', sans-serif;
$font-light: 'HelveticaNowDisplayLight', sans-serif;
$font-bold: 'HelveticaNowDisplay', sans-serif;
