extends ../_template

block variables
  - let title       = 'Blog DocsBase'
  - let description = 'Blog DocsBase'

  - let breadcrumbs = 'About us'

block content
  .main-wrap.no-js
    include ../sections/header
    include ../elements/breadcrumbs

    //begin content
    main.main
      //BEGIN about-top
      .about-top
        .container
          h2.about-top__title About Dockbase
          .about-top__descr Specialised Translation and Localization Services in Ireland. <br>Global Reach with Local Expertise.
      //END   about-top

      //BEGIN about
      .about.second
        .container
          .about__descr Both of our Irish offices use our world-renowned quality assurance procedures, based on the bespoke system of Swiss quality. These procedures are guarantee you the very best translations.
          .about__items
            span Quickly and for reasonable money
            span Digitalization of processes allows us to make translations in a short time and at affordable prices - from 20 USD. per document, up to 1 hour from upload to result.
          .about__items
            span Swiss Quality
            span In addition to artificial intelligence technologies, each document is checked by a professional translator - you will be sure that everything is perfect there and your document will be accepted anywhere in the world
          .about__items
            span Convenient and secure
            span You no longer need to go to a translation agency. You receive an official translation stored in the cloud and always available to you and the requester. In this case, all data is protected.
      //END   about
    //end content

    include ../sections/footer
    include ../sections/scripts
