extends ../_template

block variables
  - let title       = 'Article DocsBase'
  - let description = 'Article DocsBase'

block content
  .main-wrap.no-js
    include ../sections/header
    //begin content
    main.main
      //BEGIN article-top
      .article-top
        .container(style="background-image: url('assets/img/bg-article-top.jpg')")
          .article-top__inn
            .article-top__title-wrap
              .article-top__date
                .news-card__date
                  +svg('calendar')
                  span 22.01.2021
              h1.article-top__title Certified translatoin services –  internal quality control process

              //BEGIN article-top__lables
              .article-top__lables
                .news-card__info
                  .news-card__label
                    +svg('label')
                    span company
                  .news-card__label
                    +svg('label')
                    span digital
                  .news-card__label
                    +svg('label')
                    span service
              //END   article-top__lables
      //END   article-top

      //BEGIN article-header
      .article-header
        .container
          h2.article-header__title With the introduction of  the tailor-made <span>Translation Management system developed by our IT, our bookings, tracking and invoicing</span> arrangements have become fully automated. This allows our clients full access via the independent client login and enables them to fully monitor existing projects, agreed deadlines and costs, budgets and financial data.
      //END   article-header

      //BEGIN article-sec
      .article-sec
        .container
          .article-sec__item
            h3.article-sec__title Translation Management system developed by our IT
          .article-sec__item
            .article-sec__text-lg
              p With the introduction of  the tailor-made Translation Management system developed by our IT, our bookings, tracking and invoicing arrangements have become fully automated. This allows our clients full access via the independent client login and enables them to fully monitor existing projects, agreed deadlines and costs, budgets and financial data. Furthermore, this creates a unique communication and data transfer channel with the dedicated Project Manager.
            .article-sec__text-sm
              p With the introduction of  the tailor-made Translation Management system developed by our IT, our bookings, tracking and invoicing arrangements have become fully automated. This allows our clients full access via the independent client login and enables them to fully monitor existing projects, agreed deadlines and costs, budgets and financial data.
      //END   article-sec

      //BEGIN article-sec
      .article-sec
        .container
          .article-sec__item
            h3.article-sec__title List of the internal quality controls applied to ensure overall quality of service delivery
          .article-sec__item
            h4.article-sec__subtitle Competence and Qualification controls over:
            ul.article-sec__list
              li translators
              li proof-readers
              li Independent reviewers
              li project Managers
            h4.article-sec__subtitle Translation Quality controls are the following:
            ul.article-sec__list
              li grammar and content flow check
              li consistency controls
              li target language quality control
              li accuracy control
              li style &              flow control
              li formatting control
              li translation completion control
              li references to published documents and quotation control
            .article-sec__text-sm
              p A translation request is received by CTS – this may be by fax, email, FTP, OTM, post or by hand (CTS are completely flexible and have the technology to accept documents in any format).
              p A Translation Project Manager is assigned to the enquiry based on their experience, content, type of client and language pair involved.
            .article-sec__youtube
              iframe(width='560' height='315' src='https://www.youtube.com/embed/JkaxUblCGz0?controls=0' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
      //END   article-sec

      //BEGIN article-sec
      .article-sec
        .container
          .article-sec__item
            h3.article-sec__title List of the internal quality controls
          .article-sec__item
            .article-sec__text-lg
              p The Project Manager liaises with the client to determine their requirements and expectations. Once confirmed, the PM evaluates the request, confirms its acceptance and generates quotes and deadlines in addition to providing our Terms & Conditions and signing the relevant NDA.
              p A full review of the order is completed in our CRM for each of the project stages, including a complete list of all parties responsible for each stage of the project and their respective deadlines.
            blockquote.article-sec__blockquote Clients, PMs and Freelancers enjoy full flexibility to review and check their financial data via dedicated online access to our system
            h4.article-sec__subtitle When CTS receives a request from a client, the requested service is logged on to our system with the full details of the request including:
            ul.article-sec__list
              li Client name
              li Time/date
              li Translation request – all details
              li Quote (if provided)
              li Deadline/delivery date
              li Name of Translator & Proof-reader
              li Any other information relevant to the specific job, PO number etc.
            .article-sec__download
              input(type='file').article-sec__download-input
              span.article-sec__download-placeholder Download Template of request for client
              span.article-sec__download-filename


      //END   article-sec

      //BEGIN blog-slider-header
      //.blog-slider-header
        .container
          h2.blog-slider-header__title Latest News
      //END   blog-slider-header

      //BEGIN slider-section
      //.slider-section
        .container
          include ../sliders/blog-slider
      //END   slider-section

      //BEGIN blog-section-other-news-more
      //.blog-section-other-news-more
        .container
          .blog-section-other-news-more__btn
            .blog-section-other-news-more__icon
              +svg('load')
            .blog-section-other-news-more__text Load More News
      //END   blog-section-other-news-more

      //include ../sections/doc-express
      //include ../sections/lets-translate
    //end content

    include ../sections/footer
    include ../sections/scripts
