/* begin ABOUT TOP */
.about-top {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 130px;
    padding-bottom: 130px;
    text-align: center;
    background-color: $blue-1;
    background-image: url('../img/bg-about.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    &::before {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      content: '';
      background-image: url('../img/filter-article-top.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}

.about-top__title {
  font-family: $font-bold;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;

  @include responsive-font(64, 42);
}

.about-top__descr {
  font-family: $font;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #f4f7fb;
}

/* end   ABOUT TOP */

/* begin about */
.about {
  padding-bottom: 60px;
  background-color: #fff;

  @include min(769) {
    padding-bottom: 100px;
  }
  @include min(1200) {
    padding-bottom: 130px;
  }
}

.about__descr {
  font-family: $font-light;
  font-weight: 300;
  line-height: 1.3;
  max-width: 1350px;
  margin-bottom: 60px;
  color: #3f3d56;

  @include responsive-font(48, 38);
  @include min(769) {
    margin-bottom: 100px;
  }
  @include min(1200) {
    margin-bottom: 130px;
  }

  a {
    color: $blue-1;

    &:hover {
      text-decoration: underline;
    }
  }
}

.about__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px 0;
  border-top: 1px solid #c5cfe0;

  @include min(769) {
    flex-direction: row;
  }

  &:last-child {
    border-bottom: 1px solid #c5cfe0;
  }

  span {
    font-weight: 400;
    line-height: 1.4;
    width: 100%;

    @include min(769) {
      width: 50%;
    }

    &:first-child {
      font-family: $font-bold;
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 20px;
      padding-right: 20px;
      color: #232230;
    }

    &:last-child {
      font-family: $font;
      font-size: 20px;
      color: #3f3d56;
    }
  }
}

/* end   about */
