/* begin ARTICLE TOP */
.article-top {
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $blue-light;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      content: '';
      background-image: url('../img/filter-article-top.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
  }
}

.article-top__inn {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  flex-grow: 1;
}

.article-top__date {
  margin-bottom: 40px;

  @include min(1200) {
    position: absolute;
    top: 50%;
    left: 0;
    margin-bottom: 0;
  }
}

.article-top__title {
  font-family: $font-bold;
  font-size: 64px;
  font-weight: 400;
  line-height: 1.1;
  width: 100%;
  max-width: 765px;
  margin-bottom: 0;
  color: #fff;

  @include responsive-font(64, 42);
}

.article-top__lables {
  position: absolute;
  right: 0;
  bottom: -57px;
  left: 0;
  max-width: 765px;
  margin: auto;

  .news-card__label span {
    color: $blue-light;
  }
}

/* end   ARTICLE TOP */

/* begin ARTICLE HEADER */
.article-header {
  padding-top: 70px;
  padding-bottom: 70px;

  @include min(1025) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.article-header__title {
  font-family: $font-light;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 0;
  color: #232230;

  @include responsive-font(48, 30);

  span {
    color: $blue-1;
  }
}

/* end   ARTICLE HEADER */

/* begin ARTICLE SECTION */
.article-sec {
  border-top: 1px solid #dedede;

  .container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;

    @include min(1025) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
}

.article-sec__item {
  width: 100%;

  @include min(1025) {
    width: calc(50% - 15px);
  }
}

.article-sec__title {
  font-family: $font-light;
  font-weight: 300;
  line-height: 1.3;
  max-width: 590px;
  color: #232230;

  @include responsive-font(48, 38);
}

.article-sec__text-lg,
.article-sec__text-sm {
  font-family: $font;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 40px;
  color: #232230;

  p {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.article-sec__text-lg {
  @include responsive-font(20, 18);
}

.article-sec__text-sm {
  @include responsive-font(16, 16);
}

.article-sec__subtitle {
  font-family: $font-bold;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 20px;
  color: #232230;

  @include responsive-font(28, 24);
}

.article-sec__list {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;

  li {
    font-size: 16px;
    line-height: 1.8;
    position: relative;
    padding-left: 24px;
    color: #3f3d56;

    &::before {
      position: absolute;
      top: 12px;
      left: 0;
      width: 4px;
      height: 4px;
      content: '';
      border-radius: 50%;
      background-color: #c5cfe0;
    }
  }
}

.article-sec__youtube {
  iframe {
    display: block;
    width: 100%;
    max-width: 600px;
  }
}

.article-sec__blockquote {
  font-family: $font;
  font-weight: 300;
  font-style: normal;
  line-height: 1.4;
  margin: 0 0 33px 0;
  padding: 30px 40px;
  color: #232230;
  border-left: 4px solid #c5cfe0;
  background-color: #f4f7fb;

  @include responsive-font(20, 16);
  @include min(769) {
    padding: 40px;
  }
}

.article-sec__download {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-right: 24px;
  padding-left: 37px;
  border-bottom: 1px solid #295aa8;
  background-image: url('../img/arr-down.svg'), url('../img/files.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 50%, 0, 50%;
  background-size: 7px 7px, 20px 20px;

  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    opacity: 0;
  }
}

.article-sec__download-placeholder,
.article-sec__download-filename {
  font-family: $font;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  pointer-events: none;
  color: #232230;

  @include responsive-font(17, 15);
}

.article-sec__download-filename {
  color: $blue-1;
}

/* end   ARTICLE SECTION */

/* begin ARTICLE BANNER */
.article-banner-sec {
  margin-bottom: 30px;
  //padding-bottom: 60px;

  @include min(1025) {
    //padding-bottom: 100px;
  }
}

.article-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 700px;
  padding: 40px 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include min(769) {
    padding: 60px;
  }
  @include min(1200) {
    padding: 100px;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background-image: url('../img/bg-office.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
  }
}

.article-banner__header {
  position: relative;
  max-width: 665px;
  margin-bottom: auto;

  span {
    font-family: $font-bold;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    color: #fff;
  }
}

.article-banner__footer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  @include min(769) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .btn-arr__text {
    color: #f4f7fb;
  }
}

.article-banner__title {
  font-family: $font-light;
  font-weight: 300;
  line-height: 1.3;
  max-width: 700px;
  margin-bottom: 20px;
  padding-right: 20px;
  color: #fff;

  @include responsive-font(48, 30);
  @include min(769) {
    margin-bottom: 0;
  }
}

/* end   ARTICLE BANNER */

/* begin ARTICLE SOCIAL */
.article-social {
  margin-bottom: 50px;
  padding-bottom: 60px;
  border-bottom: 1px solid #dedede;

  @include min(1025) {
    padding-bottom: 80px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.article-social__quest {
  margin-bottom: 16px;
  padding-right: 20px;
  padding-left: 45px;
  background-image: url('../img/logo-mini.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 32px 32px;
}

.article-social__quest-top {
  font-family: $font-bold;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: #3f3d56;

  a {
    text-decoration: underline;
    color: #3f3d56;
  }
}

.article-social__quest-bottom {
  font-family: $font;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: 1.4;
  color: #3f3d56;
}


.article-social__soclist {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.article-social__soclist-text {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #3f3d56;

  @include min(600) {
    white-space: nowrap;
  }
}

.article-social__soclist-links {
  display: flex;
}

.article-social__soclist-link {
  display: block;
  flex: none;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  border-radius: 50%;

  svg {
    fill: #3f3d56;
    width: 24px;
    height: 24px;
  }
}

/* end   ARTICLE SOCIAL */

.article-back-btn {
  padding-bottom: 60px;

  @include min(1025) {
    padding-bottom: 100px;
  }

  .container {
    display: flex;
    justify-content: center;
  }
}
