.map-section {
  position: relative;
  //-ms-overflow-style: none; /* for Internet Explorer, Edge */
  //scrollbar-width: none; /* for Firefox */
  //
  //&::-webkit-scrollbar {
  //  display: none; /* for Chrome, Safari, and Opera */
  //}
}

.map-section__inn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  width: 100%;

  @include min(769) {
    position: relative;
    height: calc(100vh - 130px);
  }
}

.map {
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;

  object-fit: cover;
  object-position: center;
  @include min(769) {
    width: 2202px;
    max-width: 100%;
    height: 1117px;
    max-height: calc(100vh - 130px);
    pointer-events: auto;
  }

  path {
    fill: #f4f7fb; //norm color
    cursor: pointer;
    transition: .3s;

    &:hover {
      fill: #c5cfe0; //hover color
    }

    &.active {
      fill: $blue-1; //active color
      pointer-events: none;
    }
  }
}

.map-section__header {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  pointer-events: none;

  @include min(769) {
    position: absolute;
    top: 130px;
    left: 0;
  }
}

.map-section__title {
  font-family: $font-bold;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 20px;
  text-align: center;
  color: #232230;

  @include responsive-font(64, 42);
}

.map-section__descr {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  max-width: 470px;
  margin: 0 auto;
  text-align: center;
  color: #3f3d56;
}

.map-section__countries {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  pointer-events: auto;

  @include min(769) {
    display: none;
  }

  li,
  a {
    font-family: $font;
    font-size: 24px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    color: #3f3d56;

    text-decoration-line: underline;
  }
}

.map-section__footer {
  z-index: 1;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  @include min(769) {
    position: absolute;
    bottom: 50px;
    left: 0;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.map-section__footer-info {
  display: flex;

  svg {
    flex: none;
    fill: #c5cfe0;
    width: 16px;
    height: 16px;
    margin-right: 7px;
  }

  span {
    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    color: #3f3d56;
  }
}

/* begin POPUP */
.country-popup__layer {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  margin: auto;
  background-color: #fff;

  @include min(769) {
    pointer-events: none;
    opacity: 0;
  }
}

.country-popup {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  display: none;
  overflow: auto;
  width: calc(100% - 20px);
  max-width: 430px;
  max-height: 95vh;
  padding: 25px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 24px 48px rgba(23, 65, 132, .15);

  @include min(769) {
    right: 60px;
    left: auto;
    width: 80%;
    padding: 30px 40px;
    transform: translateY(-50%);
  }
}

.country-popup__close {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform $transition;

  will-change: transform;

  &:hover {
    transform: rotate(180deg);
  }

  svg {
    fill: #1e1e1e;
    width: 20px;
    height: 20px;
  }
}

.country-popup__header {
  max-width: 300px;
}

.country-popup__title {
  font-family: $font-bold;
  font-size: 28px;
  font-weight: 400;
  line-height: 41px;
  margin-bottom: 10px;
  color: #232230;
}

.country-popup__subtitle {
  font-family: $font;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 30px;
  color: #3f3d56;
}

.country-popup__address {
  font-family: $font-bold;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 12px;
  color: #232230;
}

.country-popup__address-link {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  svg {
    flex: none;
    fill: $blue-1;
    width: 14px;
    height: 17px;
    margin-right: 7px;
  }

  span {
    font-family: $font;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-decoration: underline;
    color: #3f3d56;
  }
}


.country-popup__contacts-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  span {
    font-family: $font;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #3f3d56;

    @include min(375) {
      font-size: 16px;
    }
  }
}

.country-popup__contacts-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 40px;
  height: 40px;
  margin-right: 11px;
  border: 1.5px solid rgba(197, 207, 224, .25);
  border-radius: 50%;

  @include min(600) {
    width: 54px;
    height: 54px;
  }

  svg {
    fill: #3f3d56;
    width: 16px;
    height: 16px;

    @include min(600) {
      width: 21px;
      height: 21px;
    }
  }
}

/* end   POPUP */
