.payment-options {
  position: relative;
  display: flex;
  align-items: stretch;
  min-height: 100vh;

  &::before {
    @include min(1200) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: calc(40% + 35px);
      content: '';
      background-image: url('../img/bg-payment-options.jpg');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: cover;
    }
    @include min(1400) {
      width: calc(50% + 35px);
    }
  }
}

.payment-options__item {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  min-height: 100vh;
  padding: 120px 10px 80px 10px;
  background-image: $gradient;

  @include min(600) {
    padding: 120px 20px 80px 20px;
  }
  @include min(769) {
    padding: 120px 30px 80px 30px;
  }
  @include min(1025) {
    padding: 120px 60px 80px 60px;
  }
  @include min(1200) {
    width: 60%;
    margin-left: auto;
    padding: 120px 60px 80px 75px;
    border-radius: 35px 0 0 35px;
  }
  @include min(1400) {
    width: 50%;
  }
}

.payment-options__title {
  font-family: $font-bold;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 50px;
  color: #fff;

  @include responsive-font(64, 42);
}

.payment-options__form-row {
  margin-bottom: 30px;

  @include min(769) {
    margin-bottom: 60px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.payment-options__form-row-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  span {
    &:first-child {
      font-family: $font;
      font-size: 13px;
      font-weight: 300;
      line-height: 1.4;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: none;
      width: 32px;
      height: 32px;
      margin-right: 13px;
      text-align: center;
      color: #f4f7fb;
      border: 1px solid #c5cfe0;
      border-radius: 50%;
    }

    &:last-child {
      font-family: $font-bold;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.4;
      color: #fff;
    }
  }
}

/* begin INPUTS */
.payment-options__form-row-inputs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include min(769) {
    flex-wrap: nowrap;
    width: calc(100% + 30px);
  }
}

.payment-options__form-row-input {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;

  @include min(769) {
    width: calc(33.33% - 30px);
    margin-right: 30px;
    margin-bottom: 0;
  }

  input {
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    width: 100%;
    padding: 21px 0 10px 0;
    color: #f4f7fb;
    border: none;
    background-color: transparent;

    @include placeholder-color(#c5cfe0);
  }

  span {
    font-family: $font-bold;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    white-space: nowrap;
    pointer-events: none;
    color: #c5cfe0;
  }
}

/* end   INPUTS */


/* begin CHECKBOXES */
.payment-options__form-row-checkboxes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include min(769) {
    flex-wrap: nowrap;
    width: calc(100% + 30px);
  }
}

.payment-options__form-row-checkbox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  padding: 30px;
  border: 1px solid rgba(197, 207, 224, .25);
  border-radius: 4px;
  background: linear-gradient(180deg, rgba(244, 247, 251, 0) 26.56%, rgba(244, 247, 251, .125) 100%);

  @include min(769) {
    width: calc(33.33% - 30px);
    margin-right: 30px;
  }

  input {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.payment-options__form-row-checkbox input:checked + .payment-options__form-row-checkbox-bg {
  opacity: 1;
}

.payment-options__form-row-checkbox-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: $transition;
  pointer-events: none;
  opacity: 0;
  background: linear-gradient(180deg, rgba(244, 247, 251, 0) 26.56%, rgba(244, 247, 251, .375) 100%);
}

.payment-options__form-row-checkbox-info {
  position: relative;
  z-index: 1;
}

.payment-options__form-row-checkbox-img {
  margin-bottom: 20px;

  img {
    display: block;
    max-width: 100%;
  }
}

.payment-options__form-row-checkbox-title {
  font-family: $font-bold;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 10px;
  color: #fff;
}

.payment-options__form-row-checkbox-text {
  font-family: $font;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.4;
  color: #fff;
}

/* end   CHECKBOXES */

.payment-options__form-submit {
  position: relative;
  display: block;
  width: 100%;
  min-width: 235px;
  padding: 20px 50px;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: #295aa8;
  box-shadow: none;

  @include min(769) {
    width: auto;
  }

  span {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    color: #f4f7fb;
  }

  svg {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    fill: #fff;
    width: 20px;
    height: 20px;
    margin: auto;
  }
}
