.payment {
  position: relative;
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

/* begin LEFT */
.payment__item-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: calc(40% + 35px);

  @include min(1400) {
    width: calc(50% + 35px);
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    transform: rotate(-90deg);
    opacity: .05;
    background-image: linear-gradient(180deg, rgba(35, 34, 48, 0) 0%, #232230 100%);
  }
}

.payment__item-left-header-link {
  display: flex;

  svg {
    fill: red;
    opacity: 1;
  }
}

/* end   LEFT */

/* begin RIGHT */
.payment__item-right {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  min-height: 100vh;
  padding: 60px 10px 60px 10px;
  background-color: #fff;

  @include min(600) {
    padding: 60px 20px 60px 20px;
  }
  @include min(769) {
    padding: 60px 30px 60px 30px;
  }
  @include min(1025) {
    padding: 60px;
  }
  @include min(1200) {
    width: 60%;
    margin-left: auto;
    padding: 60px 60px 60px 75px;
    border-radius: 35px 0 0 35px;
  }
  @include min(1400) {
    width: 50%;
  }
}

.payment__title {
  font-family: $font-bold;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 50px;
  color: #232230;

  @include responsive-font(64, 42);
}

.payment__form-submit {
  position: relative;
  display: block;
  width: 100%;
  padding: 20px 50px;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: #295aa8;
  box-shadow: none;

  @include min(769) {
    max-width: 370px;
  }

  span {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    color: #f4f7fb;
  }

  svg {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    fill: #fff;
    width: 20px;
    height: 20px;
    margin: auto;
  }
}

/* end   RIGHT */
