.process-second {
  position: relative;
  margin-top: -80px;
}

/* begin DECOR */
.process-second__decor {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: transparent;
  background-image: url('../img/bg-second.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: contain;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    width: calc(50% - 80px);
    height: 80px;
    content: '';
    background-color: #fff;
  }

  &::before {
    left: 0;
    border-top-left-radius: 60px;
  }

  &::after {
    right: 0;
    border-top-right-radius: 60px;
  }
}

.process-second__decor-icon {
  position: absolute;
  top: -22px;
  left: 50%;
  transform: translateX(-50%);

  svg {
    fill: #fff;
    width: 44px;
    height: 44px;
  }
}

/* end   DECOR */

.process-second__uptitle {
  font-family: $font;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  margin-bottom: 57px;
  text-align: center;
  color: #295aa8;
}

.process-second__title {
  font-family: $font-light;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 30px;
  text-align: center;
  color: #3f3d56;

  @include responsive-font(48, 38);
}

.process-second__descr {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  max-width: 750px;
  margin: 0 auto 40px auto;
  text-align: center;
  color: #232230;

  @include min(600) {
    margin: 0 auto 80px auto;
  }
}

/* begin SWISS BANNER */
.swiss-banner-wrap {
  padding-bottom: 70px;

  @include min(1025) {
    padding-bottom: 120px;
  }
}

.swiss-banner {
  position: relative;
  min-height: 600px;
  padding: 30px;
  border-radius: 4px;
  background-color: #c6100e;
  background-image: url('../img/swiss.jpg');
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;

  @include min(600) {
    padding: 50px;
    background-position: 50% 0;
    background-size: contain;
  }
  @include min(1200) {
    min-height: 300px;
    padding: 100px 80px;
    background-image: url('../img/swiss-banner.jpg');
    background-position: 100% 50%;
    background-size: cover;
  }

  &::before {
    position: absolute;
    top: -20px;
    left: 70px;
    display: block;
    content: '';
    border-right: 20px solid transparent;
    border-bottom: 20px solid #c6100e;

    @include min(600) {
      left: 80px;
    }
  }
}

.swiss-banner__info {
  @include min(1200) {
    max-width: 55%;
  }
}

.swiss-banner__title {
  font-family: $font-bold;
  font-weight: 400;
  line-height: 41px;
  margin-bottom: 30px;
  color: #fff;

  @include responsive-font(28, 24);
}

.swiss-banner__subtitle {
  font-family: $font;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #f4f7fb;
}

/* end   SWISS BANNER */
