/* begin TESTIMONIALS HEADER */
.testimonials__header {
  margin-bottom: 50px;
  padding-top: 20px;

  .container {
    display: flex;
    flex-direction: column;

    @include min(1200) {
      flex-direction: row;
      align-items: baseline;
      flex-wrap: wrap;
    }
  }
}

.testimonials__header-title {
  font-family: $font-bold;
  font-weight: 400;
  line-height: 1.1;
  color: #232230;

  @include responsive-font(64, 42);
  @include min(1200) {
    margin-bottom: 0;
  }
}

.testimonials__header-descr {
  font-family: $font-bold;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 10px;
  color: #3f3d56;

  @include min(1200) {
    margin-bottom: 0;
    margin-left: auto;
  }
}

.testimonials__header-btn {
  margin-left: auto;

  @include min(1200) {
    margin-left: 40px;
  }
}

/* end   TESTIMONIALS HEADER */


/* begin TESTIMONIALS REVIEW */

.testimonials-review {
  padding-bottom: 70px;
  border-bottom: 1px solid #c5cfe0;

  @include min(600) {
    padding-bottom: 120px;
  }
}

.testimonials-review__list {
  width: 100%;
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;

  @include min(600) {
    margin: 0 0 70px 0;
  }
}

.testimonials-review__row {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
  border-bottom: 1px solid #c5cfe0;

  @include min(600) {
    padding: 40px 0 50px 0;
  }

  &:first-child {
    border-top: 1px solid #c5cfe0;
  }
}

/* begin 01 */
.testimonials-review__item--01 {
  flex: none;
  width: 100%;
  margin-bottom: 25px;

  @include min(600) {
    width: 120px;
    margin-bottom: 0;
  }
  @include min(1025) {
    width: 25%;
  }
}

.testimonials-review__ava {
  img {
    display: block;
    max-width: 32px;
    max-height: 32px;

    object-fit: contain;
    object-position: center;
  }
}

/* end   01 */

/* begin 02 */
.testimonials-review__item--02 {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include min(600) {
    width: calc(100% - 120px);
  }
  @include min(1025) {
    width: 25%;
  }
}

.testimonials-review__title {
  font-family: $font-bold;
  font-size: 28px;
  font-weight: 400;
  line-height: 41px;
  margin-bottom: 20px;
  color: #232230;
}

.testimonials-review__date {
  display: flex;

  svg {
    flex: none;
    fill: #c5cfe0;
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }

  span {
    font-family: $font;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    text-transform: uppercase;
    color: #c5cfe0;
  }
}

/* end   02 */

/* begin 03 */
.testimonials-review__item--03 {
  font-family: $font;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 25px;
  color: #232230;

  @include min(1025) {
    width: 50%;
    padding-top: 0;
  }

  p {
    margin: 0;
  }
}

.testimonials-review__item-logos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -15px;
  padding-top: 22px;
}

.testimonials-review__item-logo {
  display: flex;
  align-items: center;
  flex: none;
  height: 20px;
  margin-right: 20px;
  margin-bottom: 10px;

  img {
    display: block;
    max-width: 100%;
    max-height: 20px;
  }
}

/* end   03 */

/* begin footer */
.testimonials-review__footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.testimonials-review__footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-review__footer-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-bottom: 30px;
  border: 1px solid #c5cfe0;
  border-radius: 50%;

  svg {
    fill: $blue-1;
    width: 10px;
    height: 10px;
  }
}

.testimonials-review__footer-link-text {
  font-family: $font;
  font-weight: 300;
  line-height: 1.2;
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: #232230;

  @include responsive-font(17, 14);

  &::before {
    position: absolute;
    bottom: -10px;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #295aa8;
  }
}

/* end   footer */

/* end   TESTIMONIALS REVIEW */
